.view-list{
  margin-top: 20px;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .links-item {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
  
  .username {
    flex: 0.5;
  }
  .link {
    flex: 0.8;
    word-break: break-all;
    margin: 10px 0;
  }
  .trash {
    cursor: pointer;
  }