.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.title {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  color: var(--dark-blue);
}

.menu ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}
.menu ul li {
  margin: 0 12px;
}
.menu ul li a {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 21px;
  padding-bottom: 4px;
  color: var(--text-color);
}
.menu ul li a.selected {
  border-bottom: 4px solid var(--primary) !important;
  color: var(--primary) !important;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cards-place {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;
}
.main-calendar {
  overflow: scroll;
  height: 260px;
  width: 95%;
  margin: 20px;
  background: var(--white);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px -5px #778dad;
}

.main-sections {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.main-sections .section-1 {
  width: 45%;
  height: 240px;
  padding: 20px;

  background: #ffefd6;
  border-radius: 10px;
  box-shadow: 0 0 10px -5px #000;
}
.main-sections .section-2 {
  width: 45%;
  height: 240px;
  padding: 20px;

  background: #ffefd6;
  border-radius: 10px;
  box-shadow: 0 0 10px -5px #000;
}

.view-main {
  max-width: 100%;
  height: 100vh;
  padding: 20px;
  overflow-y: scroll;
}
.view-main-containter {
  max-width: 100%;
  padding: 20px;
}
