.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
}

.no-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  top: 20%;
  right: 0;
  width: 100%;
  position: absolute;
}

.no-overlay .form {
  width: 40%;
  min-width: 500px;
  box-shadow: rgba(0, 0, 0, 0.56) -10px 22px 70px 0px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: white !important;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px -5px #778dad;
}

.all-data {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.input-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: white;
  border-radius: 10px;
  padding: 20px;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: #778dad;
  margin: 8px;
}
.input-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 6px;
  background: var(--background);
  height: 46px;
  border-radius: 10px;
}
.input-info input {
  appearance: none;
  border: 0;
  outline: none;
  width: 100%;
  padding-left: 8px;
  background-color: var(--background) !important;
  border: none !important;
  height: 46px !important;
  box-shadow: none !important;
  text-align: left !important;
}

.input-date {
  display: flex;
  margin: 6px;
  background: var(--background);
  height: 46px;
  border-radius: 10px;
}
.input-date input {
  appearance: none;
  font-size: 16px;
  border: 0;
  outline: none;
  margin: 0 20px;
  padding-left: 8px;
  background: var(--background);
  box-shadow: none !important;
}

.invalid {
  -webkit-box-shadow: 0px 0px 0px 1px rgba(255,3,3,0.74);
  -moz-box-shadow: 0px 0px 0px 1px rgba(255,3,3,0.74);
  box-shadow: 0px 0px 0px 1px rgba(255,3,3,0.74);
}

.button-place {
  display: flex;
  justify-content: space-around;
  margin: 10px;
  cursor: pointer;
}
